.benefits-section {
    position: relative;
    background: url("../../img/icons/uzorleaf.png") left top 57% no-repeat;

    @include phones {
        background: none;
    }

    &:before {
        content: url("../../img/icons/malina.png");
        position: absolute;
        bottom: rem(-80px);
        left: 0;

        @include phones {
            display: none;
        }
    }
  }