.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;    
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}

.phone-number {
    @include tablets {
        display: none;
    }
}

.menu__list {
    display: flex;
    align-items: center;    
}

.menu__item {
    margin-right: rem(15px);
    &:last-child {
        margin-right: 0;
    }
}

.menu__link {
    text-decoration: none;
}

.phone-number {
    font-size: rem(24px);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.phone-number__icon {
    flex-shrink: 0;
}

.phone-number__icon-elem {
    width: rem(12px);
    height: rem(12px);
    margin-right: rem(6px);
}

.phone-number__text {
    white-space: nowrap;
}

.phone-number__text-green {
    color: #497870;
}