$containerWidth: 940px;
$baseFontSize: 18px;

//breakpoints
$tablets: 768px;
$phones: 480px;

//colors
$blue: #61c4d9;
$darkGreen: #0b4d3c;

//z-indexes
$z-fixed-menu: 100;

//function
@import "media";

//normalize
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');

//setup
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import "layout";

//components
@import "btn";
@import "feature";
@import "features";
@import "header";
@import "hero";
@import "section";
@import "headline";
@import "benefits";
@import "benefit";
@import "benefits-section";
@import "reviews";
@import "interactive-avatar";
@import "form";
@import "order-section";
@import "radio";
@import "fixed-menu";
@import "menu";
@import "hamburger";
@import "footer";
@import "social";
@import "slider";
@import "team";
@import "modal";

