@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px px;
  }
}

html, body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.btn {
  font-size: 1.0555555556rem;
  font-weight: bold;
  padding: 1rem 1.9444444444rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
}
.btn--theme--white {
  background: #fff;
  color: #0b4d3c;
}
.btn--theme--white:hover {
  color: #fff;
  background: #0b4d3c;
}
.btn--theme--green {
  background: #0b4d3c;
  color: #fff;
}
.btn--theme--green:hover {
  color: #0b4d3c;
  background: #fff;
}
.btn--theme--transparent {
  background: transparent;
  color: #000;
  text-transform: none;
}
.btn--theme--transparent:hover {
  color: #0b4d3c;
}

.feature {
  display: flex;
}

.feature__icon {
  width: 2.5rem;
  margin-right: 0.3888888889rem;
}

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 4.7222222222rem;
}

.features {
  display: flex;
}

.features__item {
  margin-right: 2.5555555556rem;
}
.features__item:last-child {
  margin-right: 0;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: 0.8333333333rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
}

.phone-number {
  font-size: 1.3333333333rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon {
  flex-shrink: 0;
}

.phone-number__icon-elem {
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  margin-right: 0.3333333333rem;
}

.phone-number__text {
  white-space: nowrap;
}

.hero {
  background: url("../../img/icons/bigleaf.png") right bottom no-repeat;
  background-color: #61c4d9;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: #fff;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    background-position: right bottom 88%;
  }
}
@media screen and (max-width: 768px) {
  .hero:before, .hero:after {
    display: none;
  }
}
.hero:before {
  position: absolute;
  bottom: -2.2222222222rem;
  left: 2%;
  content: url("../../img/icons/leaf3.png");
}
.hero:after {
  content: url("../../img/berry/berry1.png");
  position: absolute;
  bottom: 2.2222222222rem;
  right: 30%;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 2.5rem;
  background: url("../../img/icons/chocolates.png") right center/50% auto no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}
@media screen and (max-width: 768px) {
  .hero__container:before, .hero__container:after {
    display: none;
  }
}
.hero__container:before {
  content: url("../../img/berry/berry2.png");
  position: absolute;
  bottom: -2.2222222222rem;
  right: 10%;
}
.hero__container:after {
  content: url("../../img/berry/leaf2.png");
  position: absolute;
  bottom: -2.2222222222rem;
  right: 30%;
}

.hero__title-section {
  width: 46%;
}
.hero__title-section:after {
  content: url("../../img/berry/leaf1.png");
  position: absolute;
  bottom: 20%;
  right: 12%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero__title-section::before {
    content: "";
    width: 17.5555555556rem;
    height: 18.3333333333rem;
    background: url("../../img/icons/batonch768.png") center center/contain no-repeat;
    margin-bottom: 0.8888888889rem;
  }
}
@media screen and (max-width: 768px) {
  .hero__title-section:after {
    content: none;
  }
}

.hero__main-title {
  font-size: 2.6666666667rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 0.8333333333rem;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 1.1666666667rem;
  margin-bottom: 1.5555555556rem;
  padding-right: 10%;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 25%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    padding: 0 16%;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section--font-color--green {
  color: #0b4d3c;
}
.section--font-color--green .section__title {
  color: inherit;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 3.3333333333rem;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.headline {
  text-align: center;
  margin-bottom: 2.7777777778rem;
}

.headline__title {
  margin-bottom: 1.3888888889rem;
}

.headline__subtitle {
  padding: 0 26%;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 5%;
  }
}

.benefits {
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.0555555556rem;
  }
}
.benefits__item:before {
  content: url("../../img/icons/shape.png");
  position: absolute;
  top: 1.6666666667rem;
  right: 0;
  transform: translateX(50%);
}
@media screen and (max-width: 480px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 4.1666666667rem;
  height: 3.8333333333rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.7777777778rem;
  color: #292929;
}

.benefit__image {
  margin-bottom: 1.0555555556rem;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin-bottom: 0;
    margin-right: 1.1111111111rem;
  }
}

.benefits-section {
  position: relative;
  background: url("../../img/icons/uzorleaf.png") left top 57% no-repeat;
}
@media screen and (max-width: 480px) {
  .benefits-section {
    background: none;
  }
}
.benefits-section:before {
  content: url("../../img/icons/malina.png");
  position: absolute;
  bottom: -4.4444444444rem;
  left: 0;
}
@media screen and (max-width: 480px) {
  .benefits-section:before {
    display: none;
  }
}

.reviews {
  position: relative;
}
.reviews:before {
  position: absolute;
  top: -5.5555555556rem;
  right: -15%;
  content: url("../../img/icons/straw.png");
}

.reviews__display {
  background: url("../../img/icons/kust.png") right top 1.2222222222rem no-repeat;
  background-color: #f8faf9;
  padding: 2.7777777778rem 2.5rem 1.8888888889rem;
  margin-bottom: 1.1111111111rem;
  overflow: hidden;
  position: relative;
}
.reviews__display:before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -3.6111111111rem;
}

.reviews__display-inner {
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.4444444444rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.3333333333rem;
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 1.1111111111rem;
}

.reviews__title {
  font-size: 1.6666666667rem;
  font-weight: bold;
  margin-bottom: 1.2222222222rem;
  color: black;
}

.reviews__text {
  margin-bottom: 2rem;
}

.reviews__author {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.interactive-avatar {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #0f5a47;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.form {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 19%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: padding 0;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 1rem;
}

.form__block {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6111111111rem;
  border: solid 0.1666666667rem transparent;
}
.form__input--textarea {
  height: 10rem;
  resize: none;
}
.form__input:focus {
  border-color: #dee2bd;
  outline: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}

.form__btns {
  display: flex;
  justify-content: center;
}

.order-section {
  background: url("../../img/icons/pattern.jpg");
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
}
@media screen and (max-width: 480px) {
  .radio {
    margin-bottom: 0.5555555556rem;
  }
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible::before {
  background: url("../../img/icons/checkmark.svg") no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__title {
  margin-bottom: 0.4444444444rem;
  margin-right: 0.4444444444rem;
  margin-left: 0.2222222222rem;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
}
.radio__visible:before {
  content: "";
  display: none;
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #365a49;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu {
  margin: 0 30px;
  padding-top: 5px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  margin-right: 1.5rem;
  margin-top: 10px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.hamburger {
  width: 24px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #fff;
  height: 4px;
  border-radius: 10px;
}