.modal {
   position: fixed; 
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba (00, 00, 00, .5);
   display: flex;
   display: none;

   &.error-modal {
       .modal__content {
           color: red;
       }
   }

   &.fancybox-button {
       display: none;
   }
}

.modal__container {
    background: #fff;
    padding: 35px 68px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__content {
    margin-button: 15px;
    color: #000;
}